git+https://github.com/Rapptz/discord.py
PyNaCl==1.4.0
dnspython==1.16.0
async-timeout==3.0.1
pytz
pymongo==3.11.2
yahoo-fin==0.8.8
asyncpraw==7.3.1
gTTS==2.2.2
mutagen==1.45.1
yfinance==0.1.59
tradingview-ta==3.2.4
python-dotenv==0.17.1
matplotlib==3.4.2
